# Mark the project as Go
*.go linguist-language=Go
*.tmpl linguist-language=Go

# Documentation
*.md linguist-documentation

# Exclude Makefile from language statistics
[Mm]akefile linguist-detectable=false linguist-vendored=true linguist-documentation=false
Makefile.* linguist-detectable=false linguist-vendored=true
*.mk linguist-detectable=false linguist-vendored=true

# Exclude test fixtures from language stats
test/* linguist-generated=true
