# Mark the project as Go
*.go linguist-language=Go
*.tmpl linguist-language=Go

# Documentation
*.md linguist-documentation

# Exclude files from language statistics
Makefile linguist-vendored
*.mk linguist-vendored

# Exclude test fixtures from language stats
test/* linguist-generated
