module {{.ModulePath}}

go 1.21

require (
	github.com/gin-gonic/gin v1.9.1
{{if (call .HasFeature "basic-auth")}}
	golang.org/x/crypto v0.17.0
{{end}}
{{if eq .DatabaseType "postgresql"}}
	github.com/lib/pq v1.10.9
{{end}}
{{if eq .DatabaseType "mysql"}}
	github.com/go-sql-driver/mysql v1.7.1
{{end}}
{{if eq .DatabaseType "sqlite"}}
	github.com/mattn/go-sqlite3 v1.14.22
{{end}}
{{if (call .HasFeature "sql-migrations")}}
	github.com/golang-migrate/migrate/v4 v4.17.0
{{end}}
{{if (call .HasFeature "env-godotenv")}}
	github.com/joho/godotenv v1.5.1
{{end}}
)
