module {{.ModulePath}}

go 1.21

require (
	{{if (call .HasFeature "basic-auth") -}}
	golang.org/x/crypto v0.17.0
	{{- end}}
	{{if eq .DatabaseType "postgresql" -}}
	github.com/lib/pq v1.10.9
	{{- end}}
	{{if eq .DatabaseType "mysql" -}}
	github.com/go-sql-driver/mysql v1.7.1
	{{- end}}

	{{if (call .HasFeature "env-godotenv") -}}
	github.com/joho/godotenv v1.5.1
	{{- end}}
	{{if (call .HasFeature "sql-migrations") -}}
	github.com/golang-migrate/migrate/v4 v4.16.2
	{{- end}}
	{{if (call .HasFeature "secure-cookies") -}}
	github.com/gorilla/securecookie v1.1.2
	{{- end}}
	{{if (call .HasFeature "email") -}}
	gopkg.in/mail.v2 v2.3.1
	{{- end}}
)

